Read in output csv and build summary dataframe from results

In [1]:
filez <- list.files("/home/kevinlove/paleo/outputs/paleo-TAXON-values-20182811/")
## Clean up the directory
filez <- filez[!filez=="_SUCCESS"]

In [3]:
df <- data.frame()
for (i in seq_along(filez)){
    
    nlines <- readLines(paste0("/home/kevinlove/paleo/outputs/paleo-TAXON-values-20182811/",filez[i]))
    if(length(nlines)==0){next}
    tmpDF <- data.frame()
        for (ii in 1:length(nlines)){
        tdf <- read.csv(paste0("/home/kevinlove/paleo/outputs/paleo-TAXON-values-20182811/",filez[i]),stringsAsFactors = F,header = F,nrows = 1,skip = ii-1)
        tdf <- tdf[1:4]
        ##Subset by values we are looking for
        #tdf <- tdf[grepl(paste(toMatch,collapse="|"), tdf$V3),]    
        tmpDF <-rbind(tmpDF,tdf)
        }
    df <- rbind(df,tmpDF)
}
head(df)

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on '/home/kevinlove/paleo/outputs/paleo-TAXON-values-20182811/part-00095-e86c6f13-2fad-4d4e-bb9f-b0ce49b9c1f5-c000.csv'"

  V1                                   V2                 V3
1 137ed4cd-5172-45a5-acdb-8e1de9a64e32 scientificname     spirifer alatus
2 5ab348ab-439a-4697-925c-d6abe0c09b92 dwc:class          Reptilia
3 81316846-80cb-4913-8941-b31537761eb0 taxonrank          species
4 5ab348ab-439a-4697-925c-d6abe0c09b92 dwc:order          Mesosauria
5 5ab348ab-439a-4697-925c-d6abe0c09b92 dwc:scientificName Prolagus oeningensis
6 95ecb448-3c1f-4145-8565-4f6d51beb62c dwc:scientificName Juresania?
  V4
1 47
2 44078
3 8752
4 11
5 10
6 91

In [5]:
ff <- unique(df$V2)
ff

 [1] "scientificname"               "dwc:class"
 [3] "taxonrank"                    "dwc:order"
 [5] "dwc:scientificName"           "family"
 [7] "dwc:genus"                    "dwc:family"
 [9] "dwc:identifiedBy"             "dwc:specificEpithet"
[11] "specificepithet"              "genus"
[13] "order"                        "dwc:phylum"
[15] "dwc:scientificNameAuthorship" "typestatus"
[17] "dwc:typeStatus"               "class"
[19] "phylum"                       "kingdom"
[21] "dwc:taxonRank"                "dwc:kingdom"

In [7]:
for (iii in 1:length(ff)){
        udf <- df[df$V2==ff[iii],]
        fieldName <- if(sub('.', '',sub("^[^:]*", "", ff[iii]))>0){sub('.', '',sub("^[^:]*", "", ff[iii]))}else{paste0("index.",ff[iii])}
        termDF <- data.frame(fieldname=udf$V3,reps=as.numeric(udf$V4),stringsAsFactors = F)
        if(length(termDF[is.na(termDF$fieldname),]$fieldname)>0){termDF[is.na(termDF$fieldname),]$fieldname<- ""} 
        termDF <- aggregate(reps ~ fieldname + reps, data = termDF, sum)
        names(termDF) <- c(fieldName,"reps")
        termDF <- termDF[order(termDF$reps,decreasing = T,na.last = NA),]
        fileName <- paste0("/home/kevinlove/paleo/outputs/paleo-idigbioDistinctValues/taxon/iDigBio_paleo_TAXON_distinct_",fieldName,"_",format(Sys.Date(), "%d-%m-%y"),".csv")
        write.csv(termDF,file = fileName,row.names = F)
}

Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"Warning message in data.frame(fieldname = udf$V3, reps = as.numeric(udf$V4), stringsAsFactors = F):
"NAs introduced by coercion"

[1] 0